<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DesktopApiLibTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
    </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  
  <log4net>

    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%thread|%-5level|%C.%M| %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%thread|%-5level|%C.%M| %message%newline"/>
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <target value="Console.Error"/>
      <mapping>
        <level value="FATAL"/>
        <foreColor value="Red"/>
        <backColor value="White"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="Cyan"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%thread|%-5level|%C.%M| %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file value="DesktopApi.log" />-->
      <file type="log4net.Util.PatternString" value="%property{VisionAppDataFolder}\\log\\DesktopApi\\DesktopApi.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <maximumFileSize value="4096KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%thread|%-5level|%C.%M| %message%newline"/>
      </layout>
    </appender>

    <root>
      <!-- The debug level to use, can be set to one of: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="ERROR"/>

      <!-- Output messages to console Window -->
      <appender-ref ref="ColoredConsoleAppender" />

      <!-- Output messages to PGManager.log log file -->
      <appender-ref ref="RollingFileAppender"/>

    </root>

  </log4net>
  
    <userSettings>
        <DesktopApiLibTest.Properties.Settings>
            <setting name="ConnectionIni" serializeAs="String">
                <value>P:\connection.ini</value>
            </setting>
        </DesktopApiLibTest.Properties.Settings>
    </userSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
