<nav
    class="navbar navbar-expand-sm fixed-top navbar-light bg-light blue-nav align-items-start py-0 px-0"
>
    <div class="row m-0 w-100">
        <div class="col-45 bg-primary">
            <a
                ><img
                    width="30"
                    class="icon-logo"
                    src="assets/images/icon/axon/headerIcon.svg"
                    ngbTooltip="Version: {{ env.app.version }}"
                />
            </a>
        </div>
        <div *ngIf="this.currentRouterURL.includes('expertcare')"
            class="topTab"
            (mouseenter)="toggleShowVersionNo()"
            (mouseleave)="toggleShowVersionNo()"
            ngbTooltip="{{this.eCProdVer}}"
        >
            {{ this.pageTitle | translate }}
            <span class="pull-right">
                <img width="30" class="pull-right float-right" src="assets/images/icon/axon/patientLoaded.svg"
                (click)="showUser()"/>
            </span>
        </div>
        <div *ngIf="!this.currentRouterURL.includes('expertcare')"
            class="topTab"
            (mouseenter)="toggleShowVersionNo()"
            (mouseleave)="toggleShowVersionNo()"
        >
            {{ this.pageTitle | translate }}
            <span class="pull-right">
                <img width="30" class="pull-right float-right" src="assets/images/icon/axon/patientLoaded.svg"
                (click)="showUser()"/>
            </span>
        </div>
        <div class="col p-0">
            <div class="row m-0">
                <div class="col-6 col-md-6">
                    <div *ngIf="isUserVisible">
                        <div
                            class="selectedPatientBar"
                            *ngIf="
                                patientService.patient.registration
                                    .familyName !== ''
                            "
                        >
                            <span class="value patient_title">
                                {{ patientService.patient.registration.title }}
                                {{
                                    patientService.patient.registration
                                        .callingName
                                }}
                                {{
                                    patientService.patient.registration
                                        .familyName
                                }} </span
                            ><span class="info nhs_number"
                                >(Birth date:
                                {{
                                    patientService.patient.registration
                                        .dateOfBirth
                                }}) (NHS Number:
                                {{
                                    patientService.patient.registration
                                        .nhsNumber
                                }})</span
                            >
                        </div>
                        <div
                            class="selectedPatientBar"
                            *ngIf="
                                this.patientService.patient.registration
                                    .familyName == ''
                            "
                        >
                            <div class="info no_patient">
                                No Patient Selected
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-md-5 justify-content-center">
                    <div class="row justify-content-center menu-center"> -->
                <!--
                        <span class="col-12">
                            idleState: {{ idleState }} timedOut: {{ timedOut }}
                        </span>

                        <span class="col-3">
                            <a class="nav-link" (click)="reset()">IDLE RESET</a>
                        </span>
                        <span class="col-3">
                            <a class="nav-link"  (click)="showHideView(true)">Hide</a>
                        </span>
                        <span class="col-3">
                            <a class="nav-link" (click)="showModal('yo titlel', 'die contents van die modal is hier')">Modal</a>
                        </span>
                        <span class="col-3">
                            <a class="nav-link" href="#">Lock</a>
                        </span>
                        <span class="col-3">
                            <a class="nav-link" href="#">Unlock</a>
                        </span> -->

                <!--
                    </div>
                </div> -->
                <div class="col-6 col-md-6 justify-content-end">
                    <ul class="nav justify-content-end">
                        <!-- <li class="nav-item" ngbTooltip="Server Connection">
                            <a class="nav-link nav-link-i">
                                <i class="fa fa-wifi" color="green"></i>
                            </a>
                        </li>
                        <li class="nav-item" ngbTooltip="TPP Status" *ngIf="isTpp">
                            <a class="nav-link nav-link-i">
                                <img *ngIf="!isActive" width="16" src="assets/images/icon/tpp-inactive.svg">
                                <img *ngIf="isTActive" width="16" src="assets/images/icon/tpp-active.svg">
                            </a>
                        </li>
                        <li class="nav-item" ngbTooltip="EMIS Status" *ngIf="isEmis">
                            <a class="nav-link nav-link-i">
                                <img *ngIf="!isActive" width="16" src="assets/images/icon/emis-inactive.svg">
                                <img *ngIf="isActive" width="16" src="assets/images/icon/emis-active.svg">
                            </a>
                        </li>
                        <li class="nav-item" ngbTooltip="Vision Status" *ngIf="isVision">
                            <a class="nav-link nav-link-i">
                                <img *ngIf="!isActive" width="16" src="assets/images/icon/vision-inactive.svg">
                                <img *ngIf="isActive" width="16" src="assets/images/icon/vision-active.svg">
                            </a>
                        </li> -->

                        <li
                            *ngIf="downloadPercentage < 100"
                            class="nav-item"
                            class="downloaderStatus"
                            ngbTooltip="{{ downloadPercentage }}% Downloaded"
                        >
                            <div width="16">
                                <circle-progress
                                    style="height: 100px; width: 100px"
                                    [percent]="downloadPercentage"
                                    [radius]="7"
                                    [outerStrokeWidth]="3"
                                    [innerStrokeWidth]="0"
                                    [outerStrokeColor]="'#78C000'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="false"
                                    [animationDuration]="1000"
                                    [showTitle]="false"
                                    [showSubtitle]="false"
                                    [showUnits]="false"
                                >
                                </circle-progress>
                            </div>
                        </li>

                        <li
                            class="nav-item"
                            ngbDropdown
                            style="cursor: pointer"
                            *ngIf="userService.user.userCode != ''"
                        >
                            <div class="p-0 text-right info">
                                &nbsp;&nbsp;
                                {{ userService.user.locationName }} ({{
                                    userService.user.locationCode
                                }})
                            </div>
                            <a
                                class="nav-link nav-username dropdown-toggle p-0 text-left"
                                id="dropdownBasic1"
                                ngbDropdownToggle
                            >
                                &nbsp;&nbsp;Role:
                                {{ userService.user.userRole }}&nbsp;&nbsp;{{
                                    userService.user.userDisplay
                                }}&nbsp;&nbsp;
                                <i class="fa fa-chevron-down"></i>
                            </a>

                            <div
                                ngbDropdownMenu
                                aria-labelledby="dropdownBasic1"
                            >
                                <!-- <button ngbDropdownItem>Profile</button> -->
                                <button ngbDropdownItem>Logout</button>
                            </div>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link">
                                <img width="30" src="assets/images/imgs/userNameSurname@3x.png">
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xs-12 progressdiv">
                <p class="progressbar">
                    <ngb-progressbar type="primary" [value]="75" [striped]="true" [animated]="true">
                        <i>50%</i>
                    </ngb-progressbar>
                </p>
            </div> -->
        </div>
    </div>
</nav>

<div class="container-fluid main-background">
    <div class="row">
        <div
            class="sidebar col-45 bg-primary px-0"
            id="sidebar"
            *ngIf="!isSideMenuHidden"
        >
            <div class="position-fixed h-100 text-white bg-primary p-0">
                <ul
                    class="navbar-nav justify-content-between mainMenu leftMainMenuBar"
                >
                    <!-- <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/search/main"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Search"
                            placement="right"
                            title="Search"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/search.svg"
                            />
                        </a>
                    </li> -->

                    <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/home"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Home"
                            placement="right"
                            show-delay="500"
                            title="Home"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/house.svg"
                            />
                        </a>
                    </li>

                    <!-- <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/inbox"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Inbox"
                            placement="right"
                            title="Inbox"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/envelope.svg"
                            />
                            <span
                                *ngIf="!isActive"
                                class="badge badge-light alert-badge"
                                ><span>4</span></span
                            >
                        </a>
                    </li> -->

                    <li class="nav-item">
                        <!-- routerLink="/application/expertcare/iframe" -->
                        <a
                            class="nav-link pl-0 listMenuIcon"
                      (click)="navigateToExpertCare()"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="ExpertCare"
                            placement="right"
                            title="ExpertCare"
                        >

                        <!-- <tr>
                            <td (click)="openMainWindow('expertcare')">
                                <img
                                    draggable="false"
                                    style="cursor: pointer"
                                    class="icons notdragable"
                                    id="library"
                                    src="assets/images/expertcare.png"
                                />
                            </td>
                        </tr> -->


                            <!-- <img class="svg" width="20" src="assets/images/icon/axon/clipboard-with-pencil.svg" /> -->
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/expertcare_full.png"
                            />
                        </a>
                    </li>

                    <!-- <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/referral-management"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Referral Management"
                            placement="right"
                            title="Referral Management"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/refMan.svg"
                            />
                        </a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/application/patient"
                            routerLinkActive="active" placement="right" data-container="body" ngbTooltip="Patient"
                            placement="right" title="Patient">
                            <img class="svg " width="20" src="assets/images/icon/axon/patient.svg" />
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/application/signup/interactive"
                            routerLinkActive="active" placement="right" data-container="body" ngbTooltip="Signup"
                            placement="right" title="Signup">
                            <img class="svg" width="20" src="assets/images/icoSubs.png" />
                        </a>
                    </li> -->
                    <!--
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/application/bp" routerLinkActive="active"
                            placement="right" data-container="body" ngbTooltip="Blood Pressure" placement="right"
                            title="Blood Pressure">
                            <img class="svg" width="20" src="assets/images/icon/axon/wrench.svg" />
                        </a>
                    </li>
                    -->
                    <!--
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/form-builder" placement="right"
                            data-container="body" routerLinkActive="active" ngbTooltip="Form Builder" placement="right"
                            title="Form Builder">
                            <img class="svg" width="20" src="assets/images/icon/clipboard1.svg" />
                        </a>
                    </li>
                    -->
                    <!--
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/redo" routerLinkActive="active"
                            placement="right" data-container="body" ngbTooltip="Redo" placement="right" title="Redo">
                            <img class="svg" width="20" src="assets/images/icon/redo.svg" />
                        </a>
                    </li>
                    -->

                    <!-- <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/education"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="EducationTest"
                            placement="right"
                            title="EducationTest"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/openbook.svg"
                            />
                        </a>
                    </li> -->

                    <!--
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/application/documents"
                            routerLinkActive="active" placement="right" data-container="body" ngbTooltip="Documents"
                            placement="right" title="Documents">
                            <img class="svg" width="20" src="assets/images/icon/axon/document.svg" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/application/chat/interactive"
                            routerLinkActive="active" placement="right" data-container="body" ngbTooltip="Chat"
                            placement="right" title="Chat">
                            <img class="svg" width="20" src="assets/images/icon/axon/chat.svg" />
                        </a>
                    </li> -->

                    <!--
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/editor" routerLinkActive="active"
                            placement="right" data-container="body" ngbTooltip="Editor" placement="right"
                            title="Editor">
                            <img class="svg" width="20" src="assets/images/icon/statistics.svg" />
                        </a>
                    </li>
                    -->

                    <!--
                    <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/form-viewer" data-container="body"
                            ngbTooltip="Form Viewer" placement="right" title="Form Viewer">
                            <img class="svg" width="20" src="assets/images/icon/star.svg" />
                        </a>
                    </li>
                    -->

                    <!-- <li class="nav-item">
                        <a class="nav-link pl-0 listMenuIcon" routerLink="/audit" routerLinkActive="active"
                            placement="right" data-container="body" ngbTooltip="Audit Log" placement="right"
                            title="Audit Log">
                            <img class="svg" width="20" src="assets/images/icon/axon/audit.svg" />
                        </a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/library"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Library"
                            placement="right"
                            title="Library"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/pie.svg"
                            />
                        </a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/reports"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Reports"
                            placement="right"
                            title="Reports"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/growth.svg"
                            />
                        </a>
                    </li> -->
                </ul>

                <ul class="navbar-nav justify-content-end bottom-items">
                    <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/feedback"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Support"
                            placement="right"
                            title="Support"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/support.svg"
                            />
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            routerLink="/application/settings"
                            routerLinkActive="active"
                            placement="right"
                            data-container="body"
                            ngbTooltip="Settings"
                            placement="right"
                            title="Settings"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/updateMan.svg"
                            />
                        </a>
                    </li>

                    <li (click)="quitMainWindow()" class="nav-item">
                        <a
                            class="nav-link pl-0 listMenuIcon"
                            placement="right"
                            data-container="body"
                            routerLinkActive="active"
                            ngbTooltip="Exit"
                            placement="right"
                            title="Exit"
                        >
                            <img
                                class="svg"
                                width="20"
                                src="assets/images/icon/axon/exit.svg"
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main col p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
