<!-- Content Row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card shadow py-2 px-2 mb-4">
            <input type="text" placeholder="Search.." />
        </div>
    </div>
    <div class="col-md-7 mb-4">
        <div class="card border-left-info shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs text-blue mb-4">
                            <h6>
                                {{ "HOME_FAVOURITE_SHORTCUTS" | translate }}
                            </h6>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 text-gray-100">
                                    <ul class="customMenu">
                                        <!-- <li>
                                            <a routerLink="/application/search/main" routerLinkActive="active"
                                                placement="right" data-container="body" ngbTooltip="Search"
                                                placement="right" title="Search">
                                                <img slot="start" src="assets/images/icon/axon/search.svg"
                                                    class="favMenuIcon" />
                                            </a>
                                        </li> -->
                                        <li>
                                            <a
                                                routerLink="/application/home"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="Home"
                                                placement="right"
                                                show-delay="500"
                                                title="Home"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/house.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li>
                                        <!-- <li>
                                            <a
                                                routerLink="/application/inbox"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="Inbox"
                                                placement="right"
                                                title="Inbox"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/envelope.svg"
                                                    class="favMenuIcon"
                                                />
                                                <span class="badge">3</span>
                                            </a>
                                        </li> -->
                                        <li>
                                            <a
                                                routerLink="/application/expertcare/iframe"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="ExpertCare"
                                                show-delay="500"
                                                title="ExpertCare"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/expertcare.png"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li>

                                        <!-- <li>
                                            <a
                                                routerLink="/application/library"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="Library"
                                                placement="right"
                                                title="Library"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/folder.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a
                                                routerLink="/application/referral-management"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="Referral Management"
                                                placement="right"
                                                title="Referral Management"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/refManW.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a
                                                routerLink="/application/education"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="Education"
                                                placement="right"
                                                title="Education"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/book-icon5.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->

                                        <!-- <li>
                                            <a
                                                routerLink="/application/library"
                                                routerLinkActive="active"
                                                placement="right"
                                                data-container="body"
                                                ngbTooltip="Library"
                                                placement="right"
                                                title="Library"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/pie.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a
                                                routerLink="/application/reports"
                                                routerLinkActive="active"
                                                data-container="body"
                                                ngbTooltip="Reports"
                                                placement="right"
                                                title="Reports"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/growth.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a
                                                routerLink="/application/feedback"
                                                routerLinkActive="active"
                                                data-container="body"
                                                ngbTooltip="Support"
                                                placement="right"
                                                title="Support"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/support.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a
                                                routerLink="/application/update-management"
                                                routerLinkActive="active"
                                                data-container="body"
                                                ngbTooltip="Update Management"
                                                placement="right"
                                                title="Update Management"
                                            >
                                                <img
                                                    slot="start"
                                                    src="assets/images/icon/axon/updateMan.svg"
                                                    class="favMenuIcon"
                                                />
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fa fa-clipboard-list fa-2x text-gray-300"></i>
                    </div> -->
                </div>
            </div>
        </div>
        <br />
        <div class="card border-left-info shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="containerEvents">
                        <div class="text-xs text-blue mb-4">
                            <h6>{{ "HOME_TODAYS_EVENTS" | translate }}</h6>
                        </div>
                        <div class="user">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img
                                        src="assets/images/imgs/Event@3x.png"
                                        class="userIcon"
                                    />
                                </div>
                                <div class="col-xs-8">
                                    <div class="userN">
                                        <span class="bld">{{
                                            "HOME_TODAYS_EVENTS_LABEL1"
                                                | translate
                                        }}</span
                                        >,
                                        {{
                                            "HOME_TODAYS_EVENTS_LABEL2"
                                                | translate
                                        }}
                                        <br />
                                        <br />
                                        <span class="ago">{{
                                            "HOME_TODAYS_EVENTS_TIME"
                                                | translate
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img
                                        src="assets/images/imgs/Event@3x.png"
                                        class="userIcon"
                                    />
                                </div>
                                <div class="col-xs-8">
                                    <div class="userN">
                                        <span class="bld">{{
                                            "HOME_TODAYS_EVENTS_LABEL1"
                                                | translate
                                        }}</span
                                        >,
                                        {{
                                            "HOME_TODAYS_EVENTS_LABEL2"
                                                | translate
                                        }}
                                        <br />
                                        <br />
                                        <span class="ago">{{
                                            "HOME_TODAYS_EVENTS_TIME"
                                                | translate
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img
                                        src="assets/images/imgs/Event@3x.png"
                                        class="userIcon"
                                    />
                                </div>
                                <div class="col-xs-8">
                                    <div class="userN">
                                        <span class="bld">{{
                                            "HOME_TODAYS_EVENTS_LABEL1"
                                                | translate
                                        }}</span
                                        >,
                                        {{
                                            "HOME_TODAYS_EVENTS_LABEL2"
                                                | translate
                                        }}
                                        <br />
                                        <br />
                                        <span class="ago">{{
                                            "HOME_TODAYS_EVENTS_TIME"
                                                | translate
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-xs-12">
                        <div class="text-xs text-blue mb-4">
                            <h6>{{ "HOME_LATEST_UPDATES" | translate }}</h6>
                        </div>
                    </div>
                </div>
                <div class="update">
                    <div class="row p-0 updateHead">
                        <div class="col-6 updateTxt">
                            {{ "HOME_LATEST_LABEL" | translate }}
                        </div>
                        <div class="col-6 updateTime pull-right">
                            {{ "HOME_LATEST_TIME" | translate }}
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-12 updateDetail">
                            <h5>{{ "HOME_LATEST_DETAIL" | translate }}</h5>
                            <p [innerHTML]="messages"></p>
                        </div>
                    </div>
                </div>

                <!-- <div class="update">
                    <div class="row p-0 updateHead">
                        <div class="col-6 updateTxt">CCG</div>
                        <div class="col-6 updateTime pull-right">Last 24 Hours
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-12 updateDetail">
                            <h5>Adipiscing elit.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi qu rem
                                ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="update">
                    <div class="row p-0 updateHead">
                        <div class="col-6 updateTxt">BMJ</div>
                        <div class="col-6 updateTime pull-right">Last 24 Hours
                        </div>
                    </div>
                    <div class="row p-0">
                        <div class="col-12 updateDetail">
                            <h5>Adipiscing elit.</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi qu rem
                                ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
