.wrap{
    background-image: url('../../../assets/images/new/axon-splash-100.jpg');
    height:110%;
    height: calc(100vh - 80px);
    background-size:cover;
    background-position:50%;
    width:100%;

}
