<!-- Content Row -->
<div class="row">

    <div class="col-md-6 mb-4">
        <div class="card border-left-info shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <div class="mb-2 mr-4"><img class="svg" width="80" src="assets/images/imgs/small_logo.png" />
                        </div>
                    </div>
                    <div class="col">
                        <h1>{{'EXPERTCARE_TITLE' | translate}}</h1>
                        <h5>{{'EXPERTCARE_BEST_EVIDENCE_CARE' | translate}}</h5>
                    </div>

                    <div class="col-md-12 mt-4">
                        <p>{{'EXPERTCARE_TEXT_1' | translate}}<br /><br />{{'EXPERTCARE_TEXT_2' | translate}}</p>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fa fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">

        <div class="card border-left-info shadow  py-2">
            <div class="card-body">

                <br />
                <div class="text-primary mb-6 border-bottom">
                    <h4 class="text-primary">{{'EXPERTCARE_LOG_IN' | translate}}</h4>
                </div>
                <br /><br />
                <div class="mb-0">
                    <p class="mb-1">{{'EXPERTCARE_SELECT_YOUR_PRACTICE' | translate}}</p>
                </div>
                <select class="form-control">
                    <option value="" selected disabled>{{'EXPERTCARE_SELECT_PRACTICE' | translate}}</option>
                     <option>Option 1</option>
                     <option>Option 2</option>
                     <option>Option 3</option>
                </select>
                <div class="mb-6">
                    <p>&nbsp;</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn-block btn btn-outline-primary btn-sm">{{'EXPERTCARE_FILE_LOADER' | translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-primary btn-sm"
                            routerLink="/expert-care/expert-care-detail">{{'EXPERTCARE_STAND_ALONE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Content Row -->
