<div class="flexBox border-left-info shadow">
    <div class="sidebar-box ">
        <as-split direction="horizontal" [useTransition]="true" (gutterClick)="onGutterClick($event)" (dragEnd)="onDragEnd($event)">
            <as-split-area [size]="areas[0].size" [order]="areas[0].order">
                <as-split direction="vertical">
                    <as-split-area>
                        <div ref="sidebar" class="accordion builder-sidebar builder-sidebar_scroll" id="inbox-sidemenu">

                            <div routerLink="/inbox/chats" routerLinkActive="active" ref="group-panel-chats"
                                class="card form-builder-panel">
                                <div id="heading-chats" class="card-header form-builder-group-header p-0">
                                    <h5 class="mb-0 mt-0">
                                        <button ref="sidebar-anchor" aria-controls="group-chats" aria-expanded="false"
                                            type="button" class="btn btn-block builder-group-button accordion-btn">

                                            {{'INBOX_CHATS' | translate}}
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div routerLink="/inbox/chats" routerLinkActive="active" ref="group-panel-feedback"
                                class="card form-builder-panel">
                                <div id="heading-feedback" class="card-header form-builder-group-header p-0">
                                    <h5 class="mb-0 mt-0">
                                        <button ref="sidebar-anchor" aria-controls="group-feedback"
                                            aria-expanded="false" type="button"
                                            class="btn btn-block builder-group-button accordion-btn">

                                            {{'INBOX_FEEDBACK' | translate}}
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div routerLink="/inbox/alerts" routerLinkActive="active" ref="group-panel-alerts"
                                class="card form-builder-panel">
                                <div id="heading-alerts" class="card-header form-builder-group-header p-0">
                                    <h5 class="mb-0 mt-0">
                                        <button ref="sidebar-anchor" aria-controls="group-alerts" aria-expanded="false"
                                            type="button" class="btn btn-block builder-group-button accordion-btn">

                                                {{'INBOX_ALERTS' | translate}}
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <!-- <div ref="group-panel-list1" class="card form-builder-panel">
                                <div id="heading-list1" class="card-header form-builder-group-header p-0">
                                    <h5 class="m-0">
                                        <button ref="sidebar-anchor" (click)="toggleListOpen()" type="button"
                                            class="btn btn-block builder-group-button accordion-btn">

                                         {{'INBOX_LIST_HEADING' | translate}}
                                        </button>
                                    </h5>
                                </div>
                                <div ref="sidebar-group" class="collapse show" id="group-list1" *ngIf="isListOpen">
                                    <div ref="sidebar-container" class="card-body no-drop p-2"
                                        id="group-container-basic">

                                        <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy accordion-btn-sub"
                                            data-type="textfield" data-key="textfield" data-group="list1">



                                            {{'INBOX_SUBMENU_ITEM' | translate}}
                                        </span>

                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div *ngFor="let item of appPages">


                                <!-- Standard Menu Item -->
                        <!-- <div [routerLink]="[item.url]" routerLinkActive="active" *ngIf="item.url">
                                    <h6>{{ item.title }}</h6>
                                </div> -->

                        <!--Item with Children -->
                        <!-- <div *ngIf="item.children?.length > 0" (click)="item.open = !item.open"
                                    [class.parent-active]="item.open" detail="false">

                                    <h6>{{ item.title }}</h6>
                                </div> -->

                        <!-- Children List for clicked Item -->
                        <!-- <div *ngIf="item.open">

                                    <div *ngFor="let child of item.children" class="sub-item" [routerLink]="[child.url]"
                                        routerLinkActive="active">
                                        <h6>
                                            {{ child.title }}
                                        </h6>
                                    </div>
                                </div> -->
                        <!-- </div> -->
                    </as-split-area>
                </as-split>
            </as-split-area>
            <as-split-area [size]="areas[1].size" [order]="areas[1].order">
                <router-outlet></router-outlet>

            </as-split-area>
        </as-split>
    </div>
</div>
